[Unit]
Description=Weekly restore-proof of the off-site mainnet backup
OnFailure=kascov-alert@%n.service
[Timer]
OnCalendar=Sun 04:30 UTC
Persistent=true
[Install]
WantedBy=timers.target
