[Unit]
Description=Check kascov worker health every minute
OnFailure=kascov-alert@%n.service
[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=10s
[Install]
WantedBy=timers.target
